$bg-color: rgba(27, 27, 27, 1);
$bg-color1: rgb(19, 19, 19);
$btn-color: rgba(201, 160, 67, 1);
$white-color: rgba(255, 255, 255, 1);
$font-color: rgba(214, 210, 202, 1);
$font-color1: rgba(214, 210, 202, 1);
// $gold-color: rgba(160, 126, 63, 1);
$gold-color: rgba(160, 126, 63, 1);
$gold-color1: rgb(128, 102, 51);
$gold-color: rgba(160, 126, 63, 1);
$border-color: rgba(58, 58, 58, 1);
$bg-img: rgba(0, 0, 0, 0.598);
